version: '3.8'
services:
  web:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./projects.db:/app/projects.db
      # Em produção, mapeie o .env de /var/www/.env (opcional, se não quiser duplicar)
      # - /var/www/.env:/app/.env:ro
    restart: unless-stopped
